*{
	margin: 0;
	padding: 0;
}

#arip{
	width: 100%;
	height: 120px;
	background: #19829D;
}

#logo-inicio{
	width: 250px;
	height: 100px;
	position: relative;
	top: 8px;
	left: 100px;
}

/*  section - 1  */

#te1{
	width: 350px;
	height: 0px;
	position: relative;
	top: 50px;
	left: 170px;
	font-size: 20px;
	font-family: Bahnschrift;
}
#te2{
	width: 350px;
	height: 0px;
	position: relative;
	top: 55px;
	left: 450px;
	font-size: 14px;
	font-family: Calibri Light;
}

/*   section producto - fila - 1   */

#section-Pord-1{
	width: 1250px;
	height: 386px;
	background: white;
	position: relative;
	top: 100px;
	left: 170px;
}


/* articles  */


#article-prod-1{
	width: 312.5px;
	height: 386px;
	background: white;
	position: relative;
	top: 0;
	box-shadow: 1px 0px 0px 0px #CFD2D7;
}

#article-prod-2{
	width: 312.5px;
	height: 386px;
	background: white;
	position: relative;
	top: -386px;
	left: 314px;
	box-shadow: 1px 0px 0px 0px #CFD2D7;
}

#article-prod-3{
	width: 312.5px;
	height: 386px;
	background: white;
	position: relative;
	top: -772px;
	left: 628px;
	box-shadow: 1px 0px 0px 0px #CFD2D7;
}

#article-prod-4{
	width: 312.5px;
	height: 386px;
	background: white;
	position: relative;
	top: -1158px;
	left: 942px;
	
}

/*  producto   */

.img-produc{
	width: 200px;
	height: 150px;
	position: relative;
	top: 10px;
	left: 40px;
	
}

.texP{
	width: 240px;
	height: 0px;
	font-family: Calibri Light;
	font-size: 15px;
	position: relative;
	top: 10px;
	left: 40px;

}

.desP{
	width: 250px;
	height: 0px;
	font-family: Calibri Light;
	font-size: 9px;
	position: relative;
	top: 53px;
	left: 40px;
	color: #6B6D7E;

}

.preS{
	width: 250px;
	height: 0px;
	font-family: Calibri Light;
	font-size: 18px;
	position: relative;
	top: 83px;
	left: 40px;
	color: red;

}
.preS2{
	width: 250px;
	height: 0px;
	font-family: Calibri Light;
	font-size: 15px;
	position: relative;
	top: 103px;
	left: 40px;

}

.tienda{
	width: 30px;
	height: 28px;
	position: relative;
	top: 160px;
	left: 40px;

}

.carro{
	width: 32px;
	height: 25px;
	position: relative;
	top: 160px;
	left: 40px;

}


/*  menu   */

.but{
  font-family: Helvetica;
  width: 10px;
  margin: 0 auto;

}

.texbut{
  list-style: none;
  font-family: Calibri Light;
  font-size: 18px;
}
.menu .texli>.texbut{
  background-color: #1A8DAB;
  color: white;
  padding: 5px;
  display: block;
  text-decoration: none;
  min-width: 180px;
  position: relative;
  top: 160px;
  left: -110px;
  border-radius: 5px;

}
.menu .texli>.texbut:hover{
  color: white;
  background-color: #4DA80A;
}
.menu>.texli{
  float: left;
  text-align:center
}

